TMDB_API_TOKEN=colle_ici_ton_token_tmdb
PORT=3001

APPLE_TEAM_ID=ton_team_id_apple
APPLE_KEY_ID=ton_key_id_musickit
APPLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\ncolle_ta_cle_privee_ici\n-----END PRIVATE KEY-----"
APPLE_MUSICKIT_MEDIA_API_TOKEN_ORIGIN=http://localhost:5173
